@import 'icons/index';

.icon-man:before {
    content: "\e900";
}
.icon-woman:before {
    content: "\e901";
}
.icon-arrow-up2:before {
    content: "\e902";
}
.icon-arrow-down2:before {
    content: "\e903";
}
.icon-circle-up:before {
    content: "\e904";
}
.icon-circle-down:before {
    content: "\e905";
}
